@{
  Layout = "_Layout";
}

@using SweetShop.Models
@model IEnumerable<SweetShop.Models.Flavor>

<h1>Flavors</h1>
<hr>
@if(@Model.Any())
{
  <ul>
    @foreach (Flavor flavor in Model)
    {
      <li>@Html.ActionLink($"{flavor.Profile}", "Details", new { id = flavor.FlavorId } )</li>
    }
  </ul>
}
else
{
  <h4>There aren't any flavors yet!</h4>
}
<br>
<p>@Html.ActionLink("Add new flavor", "Create")</p>